@import "tailwindcss";

@font-face {
  font-family: 'Technor';
  src: url('/Fonts/Technor/Technor-Bold.woff2') format('woff2'),
       url('/Fonts/Technor/Technor-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/Fonts/Clashdisplay/ClashDisplay-Light.woff2') format('woff2'),
       url('/Fonts/Clashdisplay/ClashDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('/Fonts/Clashdisplay/ClashDisplay-Regular.woff2') format('woff2'),
       url('/Fonts/Clashdisplay/ClashDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #060606;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-technor: 'Technor', sans-serif;
  --font-clash: 'ClashDisplay', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-clash);
}
